.form{
    margin: 40px;
}
.props{
    height: 80px;
    border: black;
    border-width: 1px;
}
.titulo{
    display: flex;
    margin: 20px;
    justify-content: center;
}
.confirmacion{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}